header{
  text-align: center;
  border-bottom: 3px solid #ff9d00;
  background-color: lightgrey;
}
img{
  width: 200px;
}
h2{
  color: #ff9d00;
}
h3{
  font-style: italic;
}
main{
  padding: 0 20px;
}

footer{
    border-top: 3px solid #ff9d00;
}
